name: setto_sdk
description: Setto External SDK for Flutter - Integrate Setto payments into your Flutter application
version: 0.1.3
homepage: https://settopay.com

environment:
  sdk: '>=3.0.0 <4.0.0'
  flutter: '>=3.0.0'

dependencies:
  flutter:
    sdk: flutter
  flutter_custom_tabs: ^2.0.0
  http: ^1.1.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0
